<app-admin></app-admin>
<div class="container contentAdmin">
  <h2>Yorumlar</h2>
  <div class="scrollbar">
    <table
      *ngIf="comments!.length > 0"
      class="table table-striped table-centered mb-0"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Event Id</th>
          <th>Event Title</th>
          <th>User Id</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of comments">
          <td>{{ item.id }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.eventId }}</td>
          <td>{{ item.event?.title }}</td>

          <td>{{ item.userId }}</td>
          <td>{{ item.user?.fullName }}</td>
          <td>{{ item.user?.email }}</td>

          <td class="table-action" style="display: flex">
            <a
              href="javascript: void(0);"
              class="btn btn-sm bg-danger text-white"
              (click)="confirmDelete(item.id)"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="comments!.length == 0">Yorum bulunamadı...</div>
</div>
