<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-form">Giriş Yap</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="register-tab" data-toggle="tab" href="#register-form">Kayıt Ol</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <!-- Login Form -->
                        <div class="tab-pane fade show active" id="login-form">
                            <form>
                                <div class="form-group">
                                    <label for="Email">Email:</label>
                                    <input [(ngModel)]="loginRequest.email" [ngModelOptions]="{standalone: true}"
                                        name="Email" type="text" class="form-control" id="Email" name="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password:</label>
                                    <input [(ngModel)]="loginRequest.password" [ngModelOptions]="{standalone: true}"
                                        type="Password" class="form-control" id="Password" name="Password" required>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <button (click)="login()" type="button" class="btn btn-primary">Login</button>

                                    <a style="cursor: pointer;" (click)="openModal()">Şifremi Unuttum</a>
                                </div>
                            </form>
                        </div>
                        <!-- Register Form -->
                        <div class="tab-pane fade" id="register-form">
                            <form>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="Email">Email:</label>
                                            <input [(ngModel)]="registerRequest.email"
                                                [ngModelOptions]="{standalone: true}" type="email" class="form-control"
                                                id="Email" name="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="UserName">Kullanıcı Adı:</label>
                                            <input [(ngModel)]="registerRequest.userName"
                                                [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                                                id="UserName" name="UserName" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="FullName">Ad Soyad:</label>
                                            <input [(ngModel)]="registerRequest.fullName"
                                                [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                                                id="FullName" name="FullName" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="Phone">Telefon:</label>
                                            <input [(ngModel)]="registerRequest.phone"
                                                [ngModelOptions]="{standalone: true}" type="text" class="form-control"
                                                id="FullName" name="FullName" required>
                                        </div>



                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="register-password">Şifre:</label>
                                            <input [(ngModel)]="registerRequest.password"
                                                [ngModelOptions]="{standalone: true}" type="password"
                                                class="form-control" id="register-password" name="register-password"
                                                required>
                                        </div>
                                        <div class="form-group">
                                            <label for="register-repassword">Şİfre Tekrar:</label>
                                            <input [(ngModel)]="rePassword" type="password" class="form-control"
                                                id="register-password" name="register-password" required>
                                        </div>
                                        <div *ngIf="passwordResponse">
                                            <p style="color: red;">Hata:{{ passwordResponse }}</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="register-profile-picture">Profil Resmi Yükle:</label>
                                            <input type="file" class="form-control-file" id="register-profile-picture"
                                                name="ImagePath" (change)="onImageSelect($event)">
                                        </div>
                                        <div class="form-group genderResponsive">
                                            <label for="register-gender" class="mr-2 ml-2">Cinsiyet:</label>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="male" name="IsMale"
                                                    value="true" required>
                                                <label class="form-check-label" for="male">Erkek</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" class="form-check-input" id="female" name="IsMale"
                                                    value="false" required>
                                                <label class="form-check-label" for="female">Kadın</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>




                                <button (click)="register()" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-container" *ngIf="showModal">
    <div class="modal-content">
        <h2>Şifremi Unuttum</h2>
        <div>
            <form *ngIf="!isMailCame&&!isCodeCame">

                <div class="form-group">
                    <label>Email Adresiniz</label>
                    <input [(ngModel)]="mail!.recepients" [ngModelOptions]="{standalone: true}" type="email"
                        class="form-control" required>
                </div>


                <button (click)="confirmationMail()" class="btn btn-success">Onay Kodu
                    Al</button>

            </form>

            <form *ngIf="isMailCame">
                <div>
                    Onay Kodunu giriniz
                </div>
                <div class="form-group">
                    <label> Onay Şifresi</label>
                    <input [(ngModel)]="confirmCodeInput" [ngModelOptions]="{standalone:true}" type="text"
                        class="form-control" required>
                </div>
                <button (click)="confirmCodeMethod()" class="btn btn-success">Onay Kodunu
                    Onayla</button>
            </form>
            <form *ngIf="isCodeCame">
                <div class="form-group">
                    <label>Email</label>
                    <input [(ngModel)]="mail!.recepients" [ngModelOptions]="{standalone:true}" type="text"
                        class="form-control" required readonly>
                </div>
                <div>
                    Yeni Şifrenizi giriniz
                </div>
                <div class="form-group">
                    <label>Şifre</label>
                    <input [(ngModel)]="passwordRequest!.password" [ngModelOptions]="{standalone:true}" type="password"
                        class="form-control" required>
                </div>
                <button (click)="changePassword()" class="btn btn-success">Şifreyi Değiştir</button>
            </form>
            <br>
            <div>
                {{message}}
            </div>
        </div>
        <br>

        <button (click)="closeModal()">Kapat</button>
          
    </div>
</div>

<app-footer></app-footer>