<div class="owl-carousel-wrapper" style="height: 420px">
  <div class="box-92819"  >
    <h1 class="text-white mb-3">İyilik İçin Bir Adım At!!!</h1>
    <p *ngIf="currentUser==null">
      <a href="/login" class="btn btn-primary py-3 px-4 rounded-0">Giriş Yap/Kayıt ol</a>
    </p>
  </div>

  <div class="owl-carousel owl-1" style="height: 420px">
    <div
      class="ftco-cover-1 overlay"
      style="
        background-image: url('https://www.ikv.org.tr/images/images/Sahiltemizleme_1(1).png');
      "
    ></div>
    <div
      class="ftco-cover-1 overlay"
      style="
        background-image: url('https://cdnuploads.aa.com.tr/uploads/Contents/2022/11/06/thumbs_b_c_54b6b5736ba3d1aaea9e506db6985721.jpg?v=122159');
      "
    ></div>
    <div
      class="ftco-cover-1 overlay"
      style="
        background-image: url('https://balikesir.gsb.gov.tr/public/images/IM/Balikesir/01204/dsc_8504_1.jpg');
      "
    ></div>
  </div>
</div>
