<div class="container" style="margin-top: 25vh">
  <div
    class="feature-29192-wrap d-md-flex"
    style="margin-top: -20px; position: relative; z-index: 2"
  >
    <a
      href="#"
      class="feature-29192 overlay-danger"
      style="background-image: url('/assets/images/yetimhane.jpg')"
    >
      <div class="text">
        <span class="meta">Çocuklar için</span>
        <h3 class="text-cursive text-white h1">Yetimhane Ziyareti</h3>
      </div>
    </a>

    <a
      class="feature-29192 overlay-success"
      style="background-image: url('/assets/images/huzurevi.jpg')"
    >
      <div class="text">
        <span class="meta">Büyüklerimiz için</span>
        <h3 class="text-cursive text-white h1">Huzurevi Ziyareti</h3>
      </div>
    </a>

    <div
      class="feature-29192 overlay-warning"
      style="background-image: url('/assets/images/agacdikme.jpg')"
    >
      <div class="text">
        <span class="meta">Doğa için</span>
        <h3 class="text-cursive text-white h1">Doğayı Koruma</h3>
      </div>
    </div>
  </div>
</div>
