
<div class="site-section1" style="position: relative;">

<div class="site-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-6 text-center mb-2">
          <h2 class="text-cursive" style="color: white;font-size: 5rem;">Ekibimiz</h2>
        </div>
      </div>
      <div class="row align-items-stretch">

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="https://cdn.armut.com/UserPics/tr:w-325,h-325/2289fe75-069a-43ef-a0c8-0c0aa4e5919f.jpeg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Kurucu</span>
              <h2>İlker Şenel</h2>
              <p>Elektrik-Elektronik Mühendisi</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="https://media.licdn.com/dms/image/D4D03AQGI58RPGgpzqQ/profile-displayphoto-shrink_800_800/0/1692825806185?e=2147483647&v=beta&t=L64rSe1cnPTc6N_WKdMOnx0V8g2pKEf4eFqn28_GItc" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Kurucu</span>
              <h2>Tubanur Yazıcı</h2>
              <p>Matematikçi</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="http://localhost:5258/api/Image/GetImage?resimKimlik=gorkemirk%40gmail.com.jpeg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Kurucu</span>
              <h2>Görkem Irk</h2>
              <p>Yazılım Mühendisi</p>
            </div>
          </div>
        </div>
<!--
        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_4.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Manager</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_5.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Human Resource</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">
          <div class="post-entry-1 h-100 bg-white text-center">
            <a href="#" class="d-inline-block">
              <img src="/assets/images/person_1.jpg" alt="Image"
               class="img-fluid">
            </a>
            <div class="post-entry-1-contents">
              <span class="meta">Volunteer</span>
              <h2>James Doe</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
            </div>
          </div>
        </div>

      -->
      </div>
    </div>
  </div>
</div>




