<div class="pt-5 pb-5" style="background-color: white;">
    <div class="container left-margin custom-bg">
        <div class="row">
            <div class="col-lg-6 order-md-1">
                <img  src="https://www.ikv.org.tr/images/images/Sahiltemizleme_1(1).png" alt="Konu 1 Resmi"  class="img-fluid mx-auto img-rounded">
            </div>
            <div class="col-lg-6 order-md-2  mt-5">
                <h2>Biz Kimiz?</h2>
                <p>Eylül 2023'te, bir elin nesi var, iki elin sesi var ilkesiyle yola çıkan bir grup yardımsever insan olarak, daha iyi bir dünya için bir araya geldik. Biz, toplumumuzu, çevremizi ve dünyayı daha iyi bir yer haline getirmek için güç birliği yapmayı amaçlayan bir topluluğuz...</p>
            </div>
        </div>
    </div>
    
    <!-- İkinci Konu -->
    <div class="container mt-5 right-margin custom-bg">
        <div class="row " >
            <div class="col-lg-6 order-md-1">
                <img src="http://www.aycephe.com/files/sayfalar/thumbs/trmisyonumuztr_7873.jpg" alt="Konu 2 Resmi" class="img-fluid img-rounded">
            </div>
            <div class="col-lg-6 order-md-2 mt-5">
                <h2>Misyonumuz</h2>
                <p>Misyonumuz, yardıma ihtiyacı olan insanlara ve doğal alanlara destek sağlamak, toplumsal sorumluluğumuzu yerine getirmek ve insanları bir araya getirerek daha güzel bir dünya yaratmaktır...</p>
            </div>
        </div>
    </div>
    
    <!-- Üçüncü Konu -->
    <div class="container mt-5 left-margin custom-bg" >
        <div class="row">
           
            <div class="col-lg-6 order-md-1">
                <img src="https://yetimvakfi.org.tr/rsm/icerik/buyuk/idlip-rahmet-koyu-ziyareti_217.jpg" alt="Konu 3 Resmi" class="img-fluid img-rounded">
            </div>
       
            <div class="col-lg-6 order-md-2 mt-5">
                <h2>Ne Yapıyoruz?</h2>
                <p>Tabii ki, metni isteğinize göre düzeltebilirim. İşte düzeltilmiş hali:
    
                    "Sitemiz, yardımseverlerin yaşadıkları veya gitmek istedikleri herhangi bir yerde katılabilecekleri çeşitli etkinlikleri ve projeleri bulabilecekleri bir platform sunmaktadır. Üye olarak, siz de bu etkinliklere katılabilir ve diğer yardımseverlerle birlikte güzel işler yapabilirsiniz. Sitemiz, gönüllü çalışmaları kolaylaştırmak ve yardıma ihtiyacı olanlarla yardımseverleri bir araya getirmek için tasarlanmıştır."</p>
            </div>
        </div>
    </div>
    
    <!-- Nasıl Katılabilirsiniz? -->
    <div class="container mt-5 right-margin custom-bg">
        <div class="row ">
            <div class="col-lg-6 order-md-1">
                <img src="https://media.istockphoto.com/id/1197668882/tr/vekt%C3%B6r/gen%C3%A7ler-ellerini-bir-araya-getiriyor-birlik-ve-tak%C4%B1m-%C3%A7al%C4%B1%C5%9Fmas%C4%B1n%C4%B1-g%C3%B6steren-el-destesi-olan.jpg?s=612x612&w=0&k=20&c=BOKOm3lr-Kwgj2P39CorMP2h0ORfGliWaZxUIfr86tk=" alt="Katılın Resmi" class="img-fluid img-rounded">
            </div>
            <div class="col-lg-6 order-md-2 mt-5">
                <h2>Nasıl Katılabilirsiniz?</h2>
                <p>Eğitim almak, gönüllü çalışmalara katılmak gibi çeşitli yollarla yardımsever bir topluluğun bir parçası olabilirsiniz.Daha fazla bilgi almak veya bize katılmak için aşağıdaki butonlara tıklayabilirsiniz</p>
                <p>Telefon: (123) 456-7890</p>
                <p>E-posta: info@yardimsitesi.com</p>
                
                <a href="/contact" class="btn btn-primary" style="margin-right: 2%;">İletişim</a>
                <a href="/login" class="btn btn-primary">Bize Katıl</a>
         
            </div>
           
        </div>
       
    </div>
    </div>
